/* Reseteo básico para evitar inconsistencias entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    max-width: 1200px;
    margin: auto;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-bottom: 10px;
    font-size: 1.1em;
    line-height: 1.8;
}

pre {
    background: #1e1e1e;
    color: #dcdcdc;
    padding: 20px;
    overflow: auto;
    border-radius: 10px;
    font-size: 1em;
}

code {
    background: #272822;
    color: #f8f8f2;
    padding: 2px 4px;
    border-radius: 4px;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

/* Estilos para el header */
header {
    background: #3f51b5;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Estilos para el main content */
main {
    background: white;
    padding: 40px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 2em;
    color: #3f51b5;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    p, pre {
        font-size: 0.9em;
    }
}
